# Python
__pycache__

# Local Cloud Function testing
cloud-function/data/
cloud-function/secret/

# Infracost files
.infracost/

# Terragrun/OpenTofu files
.terragrunt-cache/
.terraform.lock.hcl
terragrunt/*/
!terragrunt/example