# Python
__pycache__
.python-version

# Infracost files
.infracost/

# Terragrun/OpenTofu files
.terragrunt-cache/
.terraform.lock.hcl
env_vars.yaml

# Precommit
.terraform

# Draw.io
*.drawio

# Claude
.claude/

# VS Code
.vscode/