# Python
__pycache__

# Local Cloud Function testing
data/
secrets/

# Infracost files
.infracost/

# OpenTofu files
.terraform/
.terraform.lock.hcl

# OpenTofu state and variables files
terraform.tfstate*
.terraform.tfstate.lock.info
*.tfvars
!example.tfvars

# OpenTofu backend configuration
backend.tf